# =========================
# IDE
# =========================

.idea/
*.iml
.vscode/

# =========================
# OS
# =========================

.DS_Store
Thumbs.db

# =========================
# Java
# =========================

backend/target/
*.class

# =========================
# Spring / logs
# =========================

*.log
logs/

# =========================
# Environment
# =========================

.env
.env.*
!.env.example

# =========================
# Node / React
# =========================

frontend/node_modules/
frontend/dist/
frontend/build/
frontend/.vite/

# =========================
# Coverage
# =========================

coverage/
